<!-- event 1 -->
<nb-card>
  <nb-card-body>
    <!-- <a target="_blank" href="https://www.facebook.com/groups/blockchaincmb/">
      <div class="event-image" title="Colombo Blockchain Meetup" style="background-image: url(./assets/CBM2.png)">
      </div>

    </a> -->

    <a target="_blank" href="https://www.facebook.com/groups/blockchaincmb/">
      <div class="event-cover">
        <img src="./assets/CBM2.png" alt="" srcset="">
      </div>

    </a>

    <div class="event-details">
      <nb-list>
        <nb-list-item>
          <div class="event-meta-header">
            <h4>Thursday, 16 January 2020</h4>
            <h1>Colombo Blockchain Meetup #2</h1>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-description">
            Calling all Blockchain enthusiasts! This is your chance to be at the forefront of Blockchain development in
            Colombo on our Second Meetup.
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-meta-details">

            <div class="row">
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-map-outline"></i>
                  <a style=" color: #4b4b4b" title='See Location in Google Maps'
                    href='https://goo.gl/maps/auw1maJbpwpNst3M7' target="_blank">
                    <p>11th Floor Lee Hedges Tower 345, Colombo 03</p>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-clock-outline"></i>
                  <p>16 January at 17:30 - 19:30 UTC+05:30</p>
                </div>
              </div>
            </div>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="row">
            <div class="col">
              <nb-user name="99x Technology" title="Organizer" picture="./assets/99x.png"></nb-user>
            </div>
            <!-- <div class="col">
              <nb-user name="StartupXFoundry" title="Organizer"></nb-user>

            </div> -->
          </div>
        </nb-list-item>


        <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Registration closed
          </button>
        </nb-list-item>

        <!-- <nb-list-item *ngIf="hasTicket && !usedTicket">
          <button nbButton fullWidth shape="rectangle" hero status="primary"
            (click)="openPasswordModal(passwordDialog)">View Ticket
          </button>
        </nb-list-item>

        <nb-list-item *ngIf="!hasTicket && !usedTicket">
          <button nbButton fullWidth shape="rectangle" hero status="primary"
            (click)="openPasswordModal(passwordDialog)">Get Ticket
          </button>
        </nb-list-item>

        <nb-list-item *ngIf="hasTicket && usedTicket">
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Ticket Used
          </button>
        </nb-list-item> -->
      </nb-list>


    </div>


  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <a target="_blank" href="https://www.facebook.com/events/3307129329329325/">
      <div class="event-cover">
        <img src="./assets/CBM1.png" alt="" srcset="">
      </div>

    </a>

    <div class="event-details">
      <nb-list>
        <nb-list-item>
          <div class="event-meta-header">
            <h4>Thursday, 12 December 2019</h4>
            <h1>Colombo Blockchain Meetup #1</h1>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-description">
            Calling all Blockchain enthusiasts! This is your chance to be at the forefront of Blockchain development in
            Colombo as we kick off the new Blockchain Meetup at our inaugural event.
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-meta-details">

            <div class="row">
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-map-outline"></i>
                  <a style=" color: #4b4b4b" title='See Location in Google Maps'
                    href='https://goo.gl/maps/auw1maJbpwpNst3M7' target="_blank">
                    <p>11th Floor Lee Hedges Tower 345, Colombo 03</p>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-clock-outline"></i>
                  <p>12 December at 17:30 - 19:30 UTC+05:30</p>
                </div>
              </div>
            </div>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="row">
            <div class="col">
              <nb-user name="99x Technology" title="Organizer" picture="./assets/99x.png"></nb-user>
            </div>
            <!-- <div class="col">
              <nb-user name="StartupXFoundry" title="Organizer"></nb-user>

            </div> -->
          </div>
        </nb-list-item>


        <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Registration closed
          </button>
        </nb-list-item>
<!-- 
        <nb-list-item *ngIf="hasTicket && !usedTicket">
          <button nbButton fullWidth shape="rectangle" hero status="primary"
            (click)="openPasswordModal(passwordDialog)">View Ticket
          </button>
        </nb-list-item>

        <nb-list-item *ngIf="!hasTicket && !usedTicket">
          <button nbButton fullWidth shape="rectangle" hero status="primary"
            (click)="openPasswordModal(passwordDialog)">Get Ticket
          </button>
        </nb-list-item>

        <nb-list-item *ngIf="hasTicket && usedTicket">
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Ticket Used
          </button>
        </nb-list-item> -->
      </nb-list>


    </div>


  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <a target="_blank" >
      <div class="event-cover">
        <img src="../assets/99x_initiative.png" alt="" srcset="">
      </div>
    </a>

    <div class="event-details">
      <nb-list>
        <nb-list-item>
          <div class="event-meta-header">
            <h4>Tuesday, 2 July 2019</h4>
            <h1>Blockchain 101</h1>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-description">
            Blockchain technology is widely regarded as a revolutionary technology, and banking and financial industry
            are at the forefront of experimenting with this technology. The demand for knowledge in the blockchain is
            increasing as multiple enterprises are looking to achieve efficiencies or/and create new business models
            enabled by blockchain technology. The aim of this meetup is to introduce Blockchain technology and explain
            the theory behind it to the audience and provide them the initial spark to start using blockchain. Also,
            will discuss different use cases for businesses and researches using Blockchain to improve their projects to
            the next level.
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-meta-details">

            <div class="row">
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-map-outline"></i>
                  <p>StartupXFoundry</p>
                  <!-- <a style=" color: #4b4b4b" title='See Location in Google Maps' href='https://www.google.com/maps/place/Microsoft+Sri+Lanka/@6.92227,79.8524998,16z/data=!4m5!3m4!1s0x0:0xffe8a9f8baaaf085!8m2!3d6.9200653!4d79.857478'
                    target="_blank">
                 
                  </a>  -->

                </div>
              </div>


              <div class="col">

                <div class="meta-item">
                  <i class="eva eva-clock-outline"></i>
                  <p>4:30 PM to 7:30 PM</p>
                </div>

              </div>

            </div>

          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="row">
            <div class="col">
              <nb-user name="99x Technology" title="Organizer" picture="./assets/99x.png"></nb-user>
            </div>
            <div class="col">

            </div>
          </div>
        </nb-list-item>


        <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Registration closed
          </button>
        </nb-list-item>
        <!-- <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary"
            (click)="openPasswordModal(passwordDialog)">Registration Open</button>
        </nb-list-item> -->
        <!-- <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'
            (click)="openPasswordModal(passwordDialog)" *ngIf="hasTicket">Registration closed
          </button>
        </nb-list-item> -->

      </nb-list>


    </div>


  </nb-card-body>
</nb-card>




<nb-card>
  <nb-card-body>
    <a href='https://www.facebook.com/events/325650311487319/' target="_blank">
      <div class="event-cover">
        <img src="./assets/io-cover.jpg" alt="" srcset="">
      </div>
    </a>



    <div class="event-details">
      <nb-list>
        <nb-list-item>
          <div class="event-meta-header">
            <h4>Tuesday, 7 May 2019 - Wednesday, 8 May 2019 </h4>
            <h1>Google I/O Extended Sri Lanka 2019</h1>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-description">
            Dialog Ideamart, in collaboration with Google Developer Group Sri Lanka, will be hosting South East Asia’s
            largest Google I/O Extended 2019 event for the 4th consecutive year on 7th May 2019 at the Sri Lanka
            Exhibition and Convention Centre (SLECC).
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-meta-details">

            <div class="row">
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-map-outline"></i>

                  <a style=" color: #4b4b4b" title='See Location in Google Maps'
                    href='https://goo.gl/maps/aoDjcpvPshe28o6U9' target="_blank">
                    <p>Sri Lanka Exhibition and Convention Centre (SLECC)</p>
                  </a>

                </div>
              </div>


              <div class="col">

                <div class="meta-item">
                  <i class="eva eva-clock-outline"></i>
                  <p>7 May at 18:00 – 8 May at 05:00 UTC+05:30</p>
                </div>

              </div>

            </div>

          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="row">
            <div class="col">
              <div class="organizer-list">
                <nb-user name="Dialog" title="Organizer" picture="./assets/dailog-logo.png">
                </nb-user>

                <nb-user name="Ideamart" title="Organizer" picture="./assets/ideamart-logo.png">
                </nb-user>

                <nb-user name="GDG Sri Lanka" title="Organizer" picture="./assets/gdg-logo.png">
                </nb-user>

              </div>
            </div>
            <div class="col">
              <hr class="mobileShow">
              <a href="https://www.facebook.com/events/325650311487319/" target="_blank">
                <nb-user name="Facebook Event" picture="./assets/fb-logo.png
                "></nb-user>
              </a>
            </div>
          </div>
        </nb-list-item>

        <!-- <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'
            (click)="openPasswordModal(passwordDialog)" *ngIf="!hasTicket">Registration closed</button>
        </nb-list-item> -->
        <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Registration closed
          </button>
        </nb-list-item>

      </nb-list>


    </div>


  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <a href='https://www.meetup.com/Colombo-AI-Technology-Meetup/events/258786956/' target="_blank">
      <div class="event-cover">
        <img src="./assets/GlobalAINight_Meetup.jpeg" alt="" srcset="">
      </div>
    </a>
    <div class="event-details">
      <nb-list>
        <nb-list-item>
          <div class="event-meta-header">
            <h4>Tuesday, 2 April 2019</h4>
            <h1>Colombo AI Technology Meetup - Global AI Night 2019</h1>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-description">
            The Global AI Night is a free evening event organized by local communities all over the world that are
            passionate about Artificial Intelligence on the Microsoft Azure.
            Dive in and learn how to implement intelligence into your solutions with the Microsoft AI platform.
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-meta-details">

            <div class="row">
              <div class="col">
                <div class="meta-item">
                  <i class="eva eva-map-outline"></i>
                  <p>Microsoft Sri Lanka</p>
                  <!-- <a style=" color: #4b4b4b" title='See Location in Google Maps' href='https://www.google.com/maps/place/Microsoft+Sri+Lanka/@6.92227,79.8524998,16z/data=!4m5!3m4!1s0x0:0xffe8a9f8baaaf085!8m2!3d6.9200653!4d79.857478'
                    target="_blank">
                 
                  </a>  -->

                </div>
              </div>


              <div class="col">

                <div class="meta-item">
                  <i class="eva eva-clock-outline"></i>
                  <p>6:00 PM to 9:00 PM</p>
                </div>

              </div>

            </div>

          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="row">
            <div class="col">
              <nb-user name="Blue Chip Training" title="Organizer"
                picture="https://pbs.twimg.com/profile_images/701774607255113728/DpyYHd_l.jpg"></nb-user>
            </div>
            <div class="col">
              <a href="https://www.meetup.com/Colombo-AI-Technology-Meetup/events/258786956/" target="_blank">
                <nb-user name="Global AI Night" picture="https://cdn2.iconfinder.com/data/icons/social-media-2102/100/social_media_network-24-512.png
                "></nb-user>
              </a>
            </div>
          </div>
        </nb-list-item>


        <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Registration
            closed</button>
        </nb-list-item>
        <!-- <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'
            (click)="openPasswordModal(passwordDialog)" *ngIf="hasTicket">Registration closed
          </button>
        </nb-list-item> -->

      </nb-list>


    </div>


  </nb-card-body>
</nb-card>

<ng-template #qrViewModal>
  <nb-card>
    <nb-card-header>Your Ticket</nb-card-header>
    <!-- <nb-card-body > -->
    <p *ngIf="!usedTicket" id="warning">*This QRCode is your Ticket,</p>
    <p *ngIf="!usedTicket" id="warning">It is valid for 5 minutes upon generation,</p>
    <p *ngIf="!usedTicket" id="warning">Please don't share it with anyone.</p>
    <!-- <div id="Raffle" *ngIf="!usedTicket" class="row" >
      <a href="https://globalaibootcamp.us18.list-manage.com/track/click?u=c7f9e47af1b1aef16cca04ff6&id=a170406690&e=188ab25db7" target="_blank">
      <nb-user name="Raffle Draw" 
        picture="https://png.pngtree.com/svg/20170306/b83b6c7c9c.svg"></nb-user>
      </a>
    </div> -->
    <!-- </nb-card-body> -->
    <nb-card-body>
      <nb-list-item>
        <h1 *ngIf="usedTicket">Already Used</h1>
      </nb-list-item>
      <div class="qrcode" *ngIf="!usedTicket">
        <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'" hidetitle></qrcode>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton fullWidth (click)="closeQRModal()">Done</button>
    </nb-card-footer>
  </nb-card>

</ng-template>


<ng-template #passwordDialog>
  <nb-card [nbSpinner]="showSpinner">
    <nb-card-header>Enter your credentials</nb-card-header>
    <nb-card-body>

      <!-- 

      <div *ngIf="!hasTicket" class="input-group">
        <input type="text" nbInput fullWidth shape="semi-round" placeholder="token" [(ngModel)]="eventToken">

      </div>
      <br /> -->

      <div class="input-group">
        <input type="password" nbInput fullWidth shape="semi-round" placeholder="password" [(ngModel)]="password">

      </div>


    </nb-card-body>
    <nb-card-footer>
      <button nbButton fullWidth (click)="handleTicketing()">Continue</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<!-- event 2 -->
<nb-card>
  <nb-card-body>
    <!-- <div class="event-image" style="background-image: url(./assets/blockchain.jpeg)">
    </div> -->

    <a target="_blank">
      <div class="event-cover">
        <img src="./assets/blockchain.jpeg" alt="" srcset="">
      </div>
    </a>
    <div class="event-details">
      <nb-list>
        <nb-list-item>
          <div class="event-meta-header">
            <h4>Wednesday, 27 March 2019</h4>
            <h1>Colombo Blockchain Developer Meetup #6 - March 2019</h1>
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-description">
            We had an amazing month for Colombo Blockchain Developer Meetup in Feb 2019. We only get better.
            This time around our focus is on 'oracles.' Hope you will be there to witness what we have to offer this
            March.
          </div>
        </nb-list-item>

        <nb-list-item>
          <div class="event-meta-details">

            <div class="row">
              <div class="col">
                <div class="meta-item">
                    <i class="eva eva-map-outline"></i>
                    <p>Sysco LABS Auditorium</p>
                </div>
              </div>
              <div class="col">
                <div class="meta-item">
                    <i class="eva eva-clock-outline"></i>
                    <p>6:00 PM to 8:00 PM</p>
                </div>
              </div>
            </div>

          </div>
        </nb-list-item>

        <nb-list-item>

          <nb-user name="Colombo Blockchain Developer" title="Organizer"></nb-user>

        </nb-list-item>

        <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'>Registration
            closed</button>
        </nb-list-item>
        <!-- <nb-list-item>
          <button nbButton fullWidth shape="rectangle" hero status="primary" [disabled]='true'
            *ngIf="hasTicket">Registration closed
          </button>
        </nb-list-item> -->

      </nb-list>


    </div>


  </nb-card-body>
</nb-card>