<div class="container">
  <div class="auth-form-container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <nb-card [nbSpinner]="showSpinner" nbSpinnerStatus="disabled" class="authForm" accent="primary">
          <nb-card-body class="paddingRemovedCard">
            <div class="row">
              <div class="col-md-12">
                <div class="registration-form-container">
                  <div class="registration-form">
                    <h4 class="text-muted">Login</h4>

                    <form [formGroup]="loginFormGroup" class="registrationForm">
                      <div class="form-group">
                        <input type="email" class="form-control" shape="semi-round" placeholder="email"
                          formControlName="email" />
                        <small class="text-danger" *ngIf="loginErrorList?.email">Email is required</small>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" shape="semi-round" placeholder="password"
                          formControlName="password" />
                        <small class="text-danger" *ngIf="loginErrorList?.password">Password is required</small>
                      </div>

                      <div class="form-group">
                        <div class="input-group btn-center-container">
                          <button nbButton shape="round" fullWidth status="primary" (click)="handleSignIn()">Sign
                            In</button>
                        </div>
                      </div>
                    </form>
                    <div class="input-group mobile-auth-link">New to BlockEvent or Forgotten Password ? <a [routerLink]="['/register']"
                        routerLinkActive="router-link-active">Register</a></div>
 
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>