<div class="masthead"
  style="background-image: linear-gradient(180deg, #667eea38 0%, #764ba2ad 100%), url(./assets/hero_image.jpg)">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Blockchain Based Event Registration and Verification Platform!</div>
      <div class="intro-heading ">Start Here</div>
      <button nbButton shape="round" [routerLink]="['/login']" *ngIf="showLogin">Login</button>
      <button nbButton shape="round" [routerLink]="['/events']" *ngIf="!showLogin">Events</button>
    </div>
  </div>
</div>

<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>


    <!-- Team Starting -->

    <!-- First Row -->

    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/dileepa.png" alt="">
          <h4>Dileepa Jayathilake</h4>
          <p class="text-muted">Blockchain Advisor</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/dileepa-jayathilake-935a8219/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/blockevent.live" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/sham.jpg" alt="">
          <h4>Sharmilan Somasundaram</h4>
          <p class="text-muted">Blockchain Architect</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/sharmilan-somasundaram-07b26185/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/blockevent.live" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/zeemzo.jpg" alt="">
          <h4>Azeem Ashraf</h4>
          <p class="text-muted">Blockchain Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/azeemashraf/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/blockevent.live" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    <!-- First Row End -->


    <!-- Second Row -->

    <div class="row">
        <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="./assets/jaje.png" alt="">
              <h4>Jajeththanan Sabapathipillai</h4>
              <p class="text-muted">Blockchain Developer</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/thananjaje3/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a >
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/blockevent.live" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/mithu.png" alt="">
          <h4>Mithushan Jalangan</h4>
          <p class="text-muted">Software Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/mithushan-jalangan/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.facebook.com/blockevent.live" target="_blank">
                  <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/rajitha.png" alt="">
          <h4>Rajitha Disanayaka</h4>
          <p class="text-muted">UI/UX Engineer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/rajitha-disanayaka/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/blockevent.live" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Second Row End -->


    <!-- <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam
          veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div> -->
  </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Blockevent 2019</span>
        </div>
        <div class="col-md-4">
          <a [routerLink]="['/privacy']"><span class="copyright">Privacy Policy</span></a>
        </div>
  
  
        <div class="col-md-4">
          <a [routerLink]="['/terms']"><span class="copyright"> Terms & Conditions</span></a>
  
  
        </div>
      </div>
    </div>
  </footer>