<div class="container">
  <div class="auth-form-container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <nb-card [nbSpinner]="showSpinner" nbSpinnerStatus="disabled" class="authForm" accent="primary">
          <nb-card-body>
            <div class="row">
              <div class="col-md-12 ">
                <div class="registration-form-container">
                  <div class="registration-form">
                    <h4 class="text-muted">Update Account</h4>

                    <form [formGroup]="registraionFormGroup" class="registrationForm">
                      <div *ngIf="!readyToReset" class="form-group">
                        <p class="input-group mobile-auth-link">Enter the email of the Account to be Updated</p>

                        <div class="input-group input-group-with-icon ">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="eva eva-at-outline"></i></span>
                          </div>
                          <input type="email" class="form-control" placeholder="email" formControlName="email" />
                        </div>
                        <small class="validation-small-text text-danger" *ngIf="registerErrorList?.email">Enter a
                          valid email</small>
                        <small class="text-danger" *ngIf="emailUnused">
                          Account in not found
                        </small>
                        <br />
                        <div *ngIf="!readyToReset" class="input-group btn-center-container">

                          <button nbButton shape="round" fullWidth status="primary" (click)="checkEmailAvaialbility()"
                            disabled="{{ showSignUpBtn }}">continue</button>

                        </div>
                      </div>
                      <div>
                      </div>

                      <div *ngIf="readyToReset" class="form-group">
                        <div class="row">
                          <div class="col">
                            <div class="input-group input-group-with-icon ">
                              <!-- <div class="input-group-prepend">
                                <span class="input-group-text">+94</span>
                              </div> -->
                              <!-- <input type="tel" maxlength="9" placeholder="7X XXX XXXX"
                                class="form-control border-left-0" formControlName="phoneNumber" disabled /> -->
                            </div>

                            <!-- <small class="validation-small-text text-danger"
                              *ngIf="registerErrorList?.phoneNumber">Phone Number is required</small> -->


                            <div class="d-flex align-items-center" id="optSpinner" *ngIf="phoneFieldHasMessage">

                              <small class="text-{{ phoneFieldMessageTextStatus }}">{{ phoneFieldMessage }}</small>
                              <div class="spinner-border spinner-border-sm" role="status"
                                *ngIf="!ideamartServerRef && !mobileNumberTaken"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="showPinField && ideamartServerRef">
                        <div class="row">
                          <div class="col">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="OTP Code"
                                formControlName="otpCode" />
                            </div>
                            <small class="validation-small-text text-danger" *ngIf="registerErrorList?.otpCode">OTP
                              Code is required</small>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="readyToReset" class="form-group">
                        <div class="input-group input-group-with-icon ">
                          <div class="input-group-prepend" (click)="showPassword()">
                            <span class="input-group-text">
                              <i *ngIf="StrengthPassword" class="eva eva-eye-outline"></i>
                              <i *ngIf="!StrengthPassword" class="eva eva-lock-outline"></i>
                            </span>
                          </div>
                          <input *ngIf="ShowPassword" type="text" [(ngModel)]="StrengthPassword"
                            (keyup)="checkStrength()" class="form-control" placeholder="password"
                            formControlName="password" />
                          <input *ngIf="!ShowPassword" type="password" [(ngModel)]="StrengthPassword"
                            (keyup)="checkStrength()" class="form-control" placeholder="password"
                            formControlName="password" />
                        </div>
                        <small class="validation-small-text text-danger" *ngIf="registerErrorList?.password">Password
                          is required</small>
                        <small *ngIf="StrengthPassword" class="text-primary">
                          It takes <span id="PasswordStrength">{{ PasswordStrength }} </span> to crack your password!
                        </small>
                        <small *ngIf="StrengthPassword" class="text-danger">
                          <br />Please don't forget this password!
                        </small>

                      </div>
                      <div *ngIf="readyToReset" class="form-group">
                        <div class="input-group input-group-with-icon ">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="eva eva-lock-outline"></i></span>
                          </div>
                          <input type="password" [(ngModel)]="ConfirmPassword" class="form-control"
                            placeholder="confirm password" formControlName="confirmPassword" />

                        </div>
                        <small class="validation-small-text text-danger"
                          *ngIf="registerErrorList?.confirmPassword">Password Confirmation
                          is required</small>
                        <small *ngIf="!PasswordMatched" class="validation-small-text text-danger">Confirm Password
                          doesn't match</small>


                      </div>
                      <div>
                      </div>
                      <div *ngIf="readyToReset" class="form-group">
                        <div class="checkbox">
                          <label><input type="checkbox" value="">
                            <small class="validation-small-text text-danger">I accept
                              that my account will be replaced.</small></label>
                        </div>
                      </div>

                      <div *ngIf="readyToReset" class="form-group">
                        <div class="input-group btn-center-container">
                          <button nbButton shape="round" fullWidth status="primary" (click)="handleSignUp()"
                            disabled="{{ showSignUpBtn }}">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>