<div id="registrationform">
  <form [formGroup]="registrationForm" (submit)="submitForm()">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 col-xs-12" id="marginBottomDown">
            <label>I am <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" class="form-control" formControlName="fname" placeholder="First Name" />
            <small class="form-text text-danger" *ngIf="formErrorList?.fname">Your first name is required</small>
        </div>

        <div class="col-md-6 col-xs-12">
            <label style="visibility: hidden"  class="hideMobile">I am <span class="text-danger font-weight-bold">*</span></label>
            <input type="text" class="form-control" formControlName="lname" placeholder="Last Name" />
            <small class="form-text text-danger" *ngIf="formErrorList?.lname">Your last name is required</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>My identification is <span class="text-danger font-weight-bold">*</span></label>
      <input type="text" class="form-control" placeholder="Your NIC or passport number" formControlName="identification"
         />
      <small class="form-text text-danger" *ngIf="formErrorList?.identification">Identification is required</small>
      <!-- <small class="form-text text-danger" *ngIf="!IDAuthentic">Identification is invalid</small> -->
    </div>

    <div class="form-group">
      <label>I can be reached at <span class="text-danger font-weight-bold">*</span></label>
      <input type="text" class="form-control" placeholder="Your mobile number 07xxxxxxxxx" formControlName="phoneNumber"
        readonly='true' />
      <small class="form-text text-danger" *ngIf="formErrorList?.phoneNumber">Mobile Number is required</small>
    </div>

    <div class="form-group">
      <label>My workplace is at <span class="text-danger font-weight-bold">*</span></label>
      <input type="text" class="form-control" placeholder="Current company/University/Institutes"
        formControlName="workplace" />
      <small class="form-text text-danger" *ngIf="formErrorList?.workplace && !(getFormControl('workplace').value.length>=100)">Your workplace is required</small>
      <small class="form-text text-danger" *ngIf="formErrorList?.workplace && (getFormControl('workplace').value.length>=100) ">Too Much Stuff</small>
    </div>

    <div class="form-group">
      <label>My T shirt size <span class="text-danger font-weight-bold">*</span></label>

      <div id="tshirtSelection">
        <div class="form-check" *ngFor="let size of tshirtSize">
          <input class="form-check-input" type="radio" value="{{ size }}" formControlName="tshirtSize" />
          <label class="form-check-label">
            {{ size.toUpperCase() }}
          </label>
        </div>
      </div>

      <small class="form-text text-danger" *ngIf="formErrorList?.tshirtSize">T-Shirt size is required</small>
    </div>

    <div class="form-group">
      <label>My meal preference is <span class="text-danger font-weight-bold">*</span></label>

      <div id="mealSelection">
        <div class="form-check" *ngFor="let meal of mealPreference">
          <input class="form-check-input" type="radio" formControlName="mealPreference"
            value="{{ meal.toLowerCase() }}" />
          <label class="form-check-label">
            {{ meal.replace("-", " ") }}
          </label>
        </div>
      </div>

      <small class="form-text text-danger" *ngIf="formErrorList?.mealPreference">Your Meal Preference is required</small>
      
    </div>

    <div class="form-group">
      <label>My LinkedIn profile can be seen at</label>
      <input type="text" class="form-control" placeholder="http://linkedin.com/in/someone" formControlName="linkedIn" />
    </div>

    <div class="form-group">
      <label>My Github awesomeness is at</label>
      <input type="text" class="form-control" placeholder="https://github.com/username" formControlName="gitHub" />
    </div>

    <div class="form-group">
      <label>I help people code. Here's proof in my stackoverflow profile</label>
      <input type="text" class="form-control" placeholder="https://stackoverflow.com/users/xxxxxxx/username"
        formControlName="stackoverflow" />
    </div>

    <div class="form-group">
      <label>I am an ideamart developer, here's my identification (username/mobile connect number)</label>
      <input type="text" class="form-control" formControlName="ideamart" placeholder="Ideamart developer username/mobile connect number" />
    </div>

    <div class="form-group">
      <label>I am a <span class="text-danger font-weight-bold">*</span></label>

      <div id="professionSelecton">
        <div class="form-check" *ngFor="let profession of professions">
          <input class="form-check-input" type="radio" formControlName="profession"
            value="{{ profession.toLowerCase() }}" />
          <label class="form-check-label">
            {{ capitalize(profession) }}
          </label>
        </div>
      </div>

      <small class="form-text text-danger" *ngIf="formErrorList?.profession">Your Profession/Passion is
        required</small>
    </div>

    <div class="form-group">
      <label>Medium Profile Link</label>
      <input type="text" class="form-control" formControlName='medium' placeholder="Medium Profile Link" />
    </div>

    <div class="form-group">
      <label>The organizers should have me in because <span class="text-danger font-weight-bold">*</span></label>
      <textarea type="text" class="form-control" placeholder="Tell us how important I/O is to you"
        formControlName="selectionReason"></textarea>
      <small class="form-text text-danger" *ngIf="formErrorList?.selectionReason">Your justification is
        required</small>
    </div>

    <div class="form-group">
      <label>Your previous attendance in Google I/O</label>

      <div id="yearSelection">
        <div class="form-check" *ngFor="let year of pastYearsList.controls;let i=index">
          <input class="form-check-input" type="checkbox" [formControl]="year" />
          <label class="form-check-label">
            {{pastYears[i]}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h5 class="">Quick Quiz</h5>
    </div>
    <div class="form-group" *ngFor="let questionKey of formKeysOfQuestion;let formKey=index">
      <label>{{randomQuestionList[formKey].question}} <span class="text-danger font-weight-bold">*</span></label>

      <div id="tshirtSelection">
        <div class="form-check" *ngFor="let answer of randomQuestionList[formKey].answers;let i=index">
          <input class="form-check-input" type="radio" value="{{ i }}" formControlName="{{questionKey}}" />
          <label class="form-check-label">
            {{ answer }}
          </label>
        </div>
      </div>
      <small class="form-text text-danger" *ngIf="formErrorList[questionKey]">You are required to answer</small>
    </div>

    <div class="form-group">
        <hr>
        <div id="yearSelection">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="acknowledgement" />
            <label class="form-check-label text-primary">
                Do you wish to receive updates on Google I/O extended Sri Lanka 2019 to you via SMS or email?
            </label>
          </div>
        </div>
        <hr>
      </div>

    

    <div class="form-group">
      <input nbButton fullWidth shape="rectangle" hero status="primary" type="submit" value="Submit"  disabled="{{disableSubmitBtn}}"/>
    </div>
  </form>
</div>