/* You can add global styles to this file, and also import other style files */
@import "~@nebular/theme/styles/prebuilt/corporate";

@include nb-install() {
  @include nb-theme-global();
}

.mobile-auth-link {
  // visibility: hidden;
  text-align: center;
  display: block !important;
}

.sign-in-button > button {
  width: 50% !important;
  border: 1px solid white !important;
}

.login-image {
  padding: 24px !important;
}

.nb-theme-default nb-layout .layout {
  background: #f1f1f1 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  border-color: transparent !important;
}

.registration-form {
  padding: 24px;
}

.input-group-with-icon .input-group-text {
  background: transparent;
  /* border-right: 0; */
}

.nb-theme-default [nbButton].btn-primary:hover {
  outline: none !important;
}

.nb-theme-default [nbButton].btn-hero.btn-primary:hover,
.nb-theme-default [nbButton].btn-hero.btn-primary .hover {
  cursor: pointer;
}


.mobileShow{
  visibility:hidden !important;
}

@media only screen and (max-width: 756px) {
  .registration-form {
    padding: 0px;
  }
  img#blocklogo {
    width: 150px;
  }
  .user-badge .user-name {
    display: none;
  }
  .nb-theme-default nb-context-menu {
    margin-top: 24px;
  }
  .header-link-container {
    width: 130px !important;
}
    .nb-theme-default nb-context-menu.nb-overlay-left .arrow{

      top: calc(50% - 30px) !important;
    }
    nb-context-menu.nb-overlay-left {
      position: relative;
      top: 24px;
  }
  
.mobileShow{
  visibility: visible !important;
}

label.hideMobile {
  display: none;
}

div#marginBottomDown {
  margin-bottom: 1rem;
}
}

.removedPaddingForHome {
  padding: 0 !important;
}
